.main-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 85%;
    &__content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 7% 93%;
        background-color: #41bc3f;
        &__header {
            width: 100%;
            height: 100%;
        }
        &__main {
            width: 95%;
            height: 95%;
            margin: auto;
            position: relative;
        }
    }
}
