body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button:hover {
    cursor: pointer;
}
.input {
    background-color: #fff !important;
    border-radius: 0 !important;
    padding: 2% 4%;
}
.input:hover,
.input:focus {
    border: 1px solid #41bc3f;
    box-shadow: none;
}
.input:not(:focus),
.input:focus {
    box-shadow: none;
}

.ant-select-single .ant-select-selector {
    border-radius: 0 !important;
    background-color: #fff !important;
}
.ant-select-selector:hover,
.ant-select-selector:focus {
    border-radius: 0;
    box-shadow: 0 0 3px #41bc3f !important;
    border-color: #41bc3f !important;
}

.title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 1.5% 0;
    color: #41bc3f;
    font-weight: bold;
}

.div-unactive {
    display: none !important;
}

.button-green {
    margin: 0 20px;
    width: 7vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    color: #000;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    background-color: #b4e2b3;
}
.button-green:hover,
.button-green:focus {
    box-shadow: 0 0 5px #41bc3f;
    background-color: #41bc3f;
    color: #fff;
}
.button-gray {
    margin: 0 20px;
    width: 7vw;
    height: 5vh;
    border: none;
    border-radius: 20px;
    color: #000;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    background-color: #c0c0c0;
}
.button-gray:hover,
.button-gray:focus {
    box-shadow: 0 0 5px #777;
    background-color: #777;
    color: #fff;
}
.span-red {
    color: red;
}
.span-green {
    color: #41bc3f;
}
.span-gray-italic {
    color: gray;
    font-style: italic;
}
